body {
    background-color: azure;
    color: black;
}
header,
footer {
    background-color: lightblue;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

nav a {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    padding: 20px;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover,
a:focus {
    color: white;
    /* background-color: rgb(117, 181, 255); */
    text-decoration: underline;
    
}

article {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    width: 60%;
    color: black;
    background-color: azure;
    border-radius: 10px;
}

section {
    border: solid 1px white;
    border-radius: 4px;
    padding: 25px;
}
p{
    align-content: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
}   
img {
    align-content: center;
}
.centered{
    margin-left: 30%;
    margin-right: 30%;
}
iframe{
    height: 900px;
    width: 50%;
    background-color: rgb(182, 215, 250);
    margin-bottom: 2%;
    margin-top: 2%;
}
.frans{
    background-color: lightblue;
    padding: 10px;
}
.franscontent {
    height: 80%;
    width: 95%;
    background-color: rgb(182, 215, 250);
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 2.5%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 1;

}

